
/*logo*/

div#logo{
	display: flex;
}

div#logo img{
	align-self: center;
	margin: auto;
	padding: 15px 0 0 0;
	height: 20px;
}

/*shorturl*/
div#shorturl{
	height: 200px;
	background-image: url('../Assets/background-home.jpg');
	background-size: cover;
}